
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #filterButtons {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #2e91e2;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .filter-btn:hover {
    background-color: #2b70be;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    width: 250px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .product-card p {
    margin-bottom: 10px;
  }
  
  .product-card .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745;
  }
  